#cima{
    background-color: rgb(209, 127, 34);
    width: 100%;
    height: 5ch;
}

#centro{
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
    color: black;
    display: flex;
    width: 100%;
    height: 100ch;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(2px);
    align-content: center;
    list-style: none;
}

#login{
    list-style: none
}

#baixo{
    margin-top: 5%;
    position: fixed;
    background-color: rgb(209, 127, 34);
    width: 100%;
    height: 13ch;
}
#menu{ 
    margin: 0.2ch;
    margin-top: 1ch;
    font-size: 200%;
    height: 4ch;
    width: 11ch;
    border: 0;
    background-color: rgb(209, 127, 34);
    border-left: solid;
    border-right: solid;
    border-right-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
#menu:hover{
    margin-top: 0%;
    color:rgb(209, 127, 34);
    background-color: rgb(255, 255, 255);
    zoom: 130%;
}
#txt{ 
    
    font-optical-sizing: auto;
  font-family: "Oswald", sans-serif;
    color: rgb(255, 255, 255);
}
#menu:hover #txt{
    color: rgb(209, 127, 34);
}